html {
  /* 主题颜色 */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --accent-color: #17a2b8;

  /* 文字颜色 */
  --text-color: rgba(0, 0, 0, 0.88);
  --text-color-secondary: rgba(0, 0, 0, 0.65);

  --background-color: #fff;
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

  /* 字体大小 */
  --size-normal: 14px;
  --size-sm: 12px;
  --size-lg: 16px;
  --size-md: 20px;
  --size-xl: 32px;

  /* 字重 */
  --weight-normal: 400;
  --weight-title: 500;
  --weight-bold: 700;
}

html.dark {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --accent-color: #17a2b8;

  --text-color: rgba(255, 255, 255, 0.88);
  --text-color-secondary: rgba(255, 255, 255, 0.65);

  --background-color: #000;
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
